body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

button {
  padding: 1em;
  color:  black;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


